.App {
  text-align: center;
}

.navbar {
  background-color: #f7ca01;
  color: black;
  
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.navbar-middle h1 {
  font-size: 3rem;
}

.header-pic {
  height: 15rem;
  width: auto;
  
}

.navbar-brand,
.nav-link {
  font-weight: bold;
}

.navbar-nav {
  list-style-type: none;
  flex-direction: row;
}

.custom-navbar .custom-navbar-collapse {
  justify-content: flex-end;
}

.expanded-nav-items {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.expanded-nav-items .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expanded-nav-items .nav-link svg {
  margin-right: 5px;
}


/* Responsive styles */

@media (max-width: 767.98px) {
  

  .navbar-left .navbar-right {
    width: 50%;
    justify-content: center;
    text-align: center;
  }


  .navbar-brand {
    padding: 0.5rem 0;
  }

}







/* src/components/Footer/Footer.css */
.footer .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  padding: .5rem 0;
  background-color: #282c34;
  color: #fff;
}

.footer-links,
.footer-contact {
  display: inline-block;
  vertical-align: top;
}

.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer ul {
  padding: 0;
  list-style-type: none;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #ccc;
  text-decoration: underline;
}



.footer address {
  font-style: normal;
  line-height: 1.6;
}

.credit {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #aaa;
}

.credit a {
  color: #aaa;
  text-decoration: none;
}

.credit a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Media Queries for responsive design */
@media (max-width: 767.98px) {
  .footer {
    padding: 2rem 0;
  }

  .footer-links,
  .footer-contact {
    display: block;
    width: 100%;
  }

  .footer h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .footer ul {
    margin-bottom: 1rem;
  }
}
